<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Application | WaysAheadGlobal</title>
    <!-- Favicons -->
    <link href="https://www.waysaheadglobal.com/assets/img/favicon.ico" rel="icon" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/iofrm-style.css">
    <link rel="stylesheet" type="text/css" href="/css/iofrm-theme3.css">
    <style type="text/css">
        .error {
            color: red;
        }
    </style>
    <style>
        th {
            padding-left: 10px;
            border: 1px solid;
        }

        td {
            border: 1px solid;
            padding-left: 10px;
        }
    </style>
</head>
<body>
    <div class="form-body">
        <div class="website-logo">
            <a href="index.html">
                <div class="">
                    <img class="" src="https://app.waysaheadglobal.com/images/wslogo.png" alt="">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <div style="float:right; text-align:right; top:10px;right:20px;position:absolute;" id="trackTicketDiv" class="form-button">
                            <a href="javascript:void(0);" id="tt" class="ibtn">Track Ticket</a>
                        </div>
                        @*<h3>Get more things done with Loggin platform.</h3>
                            <p>Access to the most powerfull tool in the entire design and web industry.</p>*@
                        @*<div class="alert alert-warning alert-dismissible fade show with-icon" role="alert">
                                Please fill the following form with your information
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>*@
                        <form>
                            @RenderBody()
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/Scripts/jquery.validate.min.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>

    @*<link href="/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet" />
        <script src="/bootstrap-3.3.6-dist/js/bootstrap.js"></script>*@

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="/Content/sweetalert/sweet-alert.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                $('#btnSubmit').click(function (event) {
                    event.preventDefault();
                    $("#errorDiv").hide();
                    $("#errorDiv").html("")
                    if ($('#WebURL').val() == "") {
                        swal("Please enter URL.");
                        return;
                    }
                    if (!isUrl($('#WebURL').val())) {
                        swal("Entered Web URL is not valid.");
                        return;
                    }
                    var Url = {
                        url: $('#WebURL').val()
                    };
                    $.ajax({
                        type: "POST",
                        url: "/Home/CheckWebURL",
                        data: JSON.stringify(Url),
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data.id == "0") {
                                swal("Entered Web URL is not exist.");
                            }
                            else {
                                $("#hdURLId").val(data.id);
                                $("#section3").show();
                                //$("#section1").hide();
                                //$("#section2").hide();
                                //$("#section5").hide();
                                //$("#section4").hide();
                                $("#txtTitle").val(data.msg.Title);
                                $("#txtMetaDescription").val(data.msg.Title);
                                $("#txtKeyword").val(data.msg.Keyword);
                                $("#txtKeyDataPoints").val(data.msg.KeyDatapoints);
                                $("#txtDescription").val(data.msg.Description);
                            }
                        },
                        error: function () {
                            swal("Error Occured!!!");
                        }
                    });
                });

                $('#btnEmailSubmit').click(function (event) {
                    event.preventDefault();
                    $("#otpSent").hide();
                    if ($('#txtEmail').val() == "") {
                        swal("Please enter Email Address.");
                        return;
                    }
                    if (!validateEmail($('#txtEmail').val())) {
                        swal("Entered Email is not valid.");
                        return;
                    }
                    if ($("#hdIsOTP").val() == "0") {
                        var Url = {
                            email: $('#txtEmail').val()
                        };
                        $.ajax({
                            type: "POST",
                            url: "/Home/CheckEmailExist",
                            data: JSON.stringify(Url),
                            dataType: "json",
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {
                                if (data.msg == "0") {
                                    swal("Entered email is not exist.");
                                }
                                else {
                                    $("#hdUserId").val(data.msg);
                                    $("#hdIsOTP").val(1);
                                    $("#otpSent").show();
                                    $("#divOTP").show();

                                    var timeLeft = 120;
                                    var elem = document.getElementById('timerDiv');
                                    var timerId = setInterval(countdown, 1000);
                                    function countdown() {
                                        if (timeLeft == -1) {
                                            clearTimeout(timerId);
                                            $("#timerDiv").hide();
                                            $("#resendDiv").show();
                                        } else {
                                            elem.innerHTML = timeLeft + ' seconds remaining to resent OTP';
                                            timeLeft--;
                                        }
                                    }
                                }
                            },
                            error: function () {
                                alert("Error occured!!")
                            }
                        });
                    }
                    else {
                        var Url = {
                            email: $('#txtEmail').val(),
                            OTP: $('#txtOTP').val(),
                            urlId: $('#hdURLId').val(),
                            title: $('#txtTitle').val(),
                            description: $('#txtDescription').val(),
                            metadescription: $('#txtMetaDescription').val(),
                            keydatapoints: $('#txtKeyDataPoints').val(),
                            keywords: $('#txtKeyword').val()
                        };
                        $.ajax({
                            type: "POST",
                            url: "/Home/CheckValidOTPAndSubmit",
                            data: JSON.stringify(Url),
                            dataType: "json",
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {
                                if (data.msg == "0") {
                                    swal("OTP is wrong. Please enter correct OTP.");
                                }
                                else {
                                    $("#hdIsOTP").val(1);
                                    $("#section2").hide();
                                    $("#divOTP").hide();
                                    $("#section1").hide();
                                    $("#section3").hide();
                                    $("#section4").hide();
                                    $("#section5").show();
                                    $("#lblMessage").html(data.msg)
                                }
                            },
                            error: function () {
                                alert("Error occured!!")
                            }
                        });
                    }
                });

                $('#btnSubmit1').click(function (event) {
                    event.preventDefault();
                    if ($("#chkAgree").prop('checked') == false) {
                        swal("Please agree to Terms & Condition.");
                        return;
                    }
                    var Url = {
                        emailId: $("#hdUserId").val(),
                        urlId: $('#hdURLId').val(),
                        title: $('#txtTitle').val(),
                        description: $('#txtDescription').val(),
                        metadescription: $('#txtMetaDescription').val(),
                        keydatapoints: $('#txtKeyDataPoints').val(),
                        keywords: $('#txtKeyword').val()
                    };
                    $.ajax({
                        type: "POST",
                        url: "/Home/SubmitTicket",
                        data: JSON.stringify(Url),
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            $("#section2").hide();
                            $("#section1").hide();
                            $("#section3").hide();
                            $("#section4").hide();
                            $("#section5").show();
                            $("#lblMessage").html(data.msg)
                        },
                        error: function () {
                            alert("Error occured!!")
                        }
                    });
                });

                $('#btnResendOTP').click(function (event) {
                    event.preventDefault();
                    $("#resendDiv").hide();
                    var Url = {
                        emailId: $("#hdUserId").val()
                    };
                    $.ajax({
                        type: "POST",
                        url: "/Home/ResendOTP",
                        data: JSON.stringify(Url),
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            swal("OTP resent Successfully.")
                        },
                        error: function () {
                            alert("Error occured!!")
                        }
                    });
                });

                $('#tt').click(function (event) {
                    event.preventDefault();
                    $("#section1").hide();
                    $("#section2").hide();
                    $("#section3").hide();
                    $("#section4").show();
                    $("#section5").hide();
                    $("#trackTicketDiv").hide();
                    $("#txtTicketNo").val('');
                });
                $('#tt2').click(function (event) {
                    event.preventDefault();
                    $("#section1").show();
                    $("#section2").hide();
                    $("#section3").hide();
                    $("#section4").hide();
                    $("#section5").hide();
                    $("#trackTicketDiv").show();
                });
                $('#tt3').click(function (event) {
                    event.preventDefault();
                    $("#section1").show();
                    $("#section2").hide();
                    $("#section3").hide();
                    $("#section4").hide();
                    $("#section5").hide();
                    $("#trackTicketDiv").show();
                });

                $('#btnSubmit22').click(function (event) {
                    event.preventDefault();
                    $('#myTable').empty();
                    if ($('#txtTicketNo').val() == "") {
                        swal("Please enter Ticket Number.");
                        return;
                    }
                    var Url = {
                        ticket: $('#txtTicketNo').val()
                    };
                    $.ajax({
                        type: "POST",
                        url: "/Home/TrackTicket",
                        data: JSON.stringify(Url),
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            console.log(data.msg);
                            if (data.msg.length == 0) {
                                swal("Ticket Number Not found");
                            }
                            else {
                                $.each(data.msg, function (key, value) {
                                    var date = value.CreatedDate.replace("/Date(", "").replace(")/", "");
                                    var d = new Date(parseInt(date));
                                    console.log(d.toLocaleString());
                                    var row = $('<tr><td>' + value.TicketID + '</td><td>' + d.toLocaleString() + '</td><td>' + value.Status + '</td></tr>');
                                    $('#myTable').append(row);
                                });
                                $("#resultDiv").show();
                            }
                        },
                        error: function () {
                            alert("Error occured!!")
                        }
                    });
                });
                $('#btnShowEmail').click(function (event) {
                    event.preventDefault();
                    if ($("#chkAgree").prop('checked') == false) {
                        swal("Please agree to Terms & Condition.");
                        return;
                    }
                    $("#section2").show();
                });
            });

            function isUrl(s) {
                var regexp = /(ftp|http|https):\/\/(\w+:{0,1}\w*@@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@@!\-\/]))?/
                return regexp.test(s);
            }

            const validateEmail = (email) => {
                return String(email)
                    .toLowerCase()
                    .match(
                        /^(([^<>()[\]\\.,;:\s@@"]+(\.[^<>()[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                    );
            };
        });
    </script>
</body>
</html>

